<div class="projectDetail">
  <div class="leftAside">
    <div class="cover">
      <h3>Project name</h3>
    </div>
    <div class="intro">
      <h4>Intro</h4>
      <article>
        <p>- This is a very nice project​</p>
        <p>- This is a very nice project​</p>
        <p>- This is a very nice project​</p>
        <p>- This is a very nice project​</p>
        <p>- This is a very nice project​</p>
        <p>- This is a very nice project​</p>
        <p>- This is a very nice project​</p>
        <p>...​</p>
      </article>
    </div>
  </div>
  <div class="rightAside">
    <div class="techs">
      <h4>Technologies</h4>
      <home-tech-list></home-tech-list>
    </div>
    <div class="galary">
      <h4>Galary</h4>
    </div>
  </div>
</div>
