@import "src/theme";

.techs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  border: 2px solid $primary;

  article {
    font-size: 0.5em;
    overflow: hidden;
    height: 6em;
    cursor: pointer;
  }

  p {
    margin: 0 auto;
  }

  &:hover {
    transition: all 0.3s ease-in;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 1px rgb(0 0 0 / 40%);
  }

}