<div class="projectDetail">

  <ng-container
    *ngIf="ProjectDetailProps?.project; then hasData; else noData">
  ></ng-container>

  <ng-template #hasData>

    <div class="cover">
      <picture>
        <img src="statics/images/a.jpg" alt="a.jpg">
      </picture>
      <h3>{{ ProjectDetailProps.project?.name }}</h3>
      <small>Click to see more images</small>
    </div>
  
    <div class="techs" (click)="onTechListClick($event)">
      <home-tech-list [TechListProps]="techListShort"></home-tech-list>
    </div>
  
    <div class="description" (click)="onDescriptionClick($event)">
      <article>
        <home-markdown-display [MarkdownDisplayProps]="{content: ProjectDetailProps.project?.description, throttle: 3}"></home-markdown-display>
      </article>
    </div>

  </ng-template>

  <ng-template #noData>
    <h1>Unable to find this project.</h1>
  </ng-template>

  <home-dialog-slot [DialogProps]="{id: 'project-description-' + ProjectDetailProps.project?.dbname || projectUUID, title: 'Project Description'}">
    <home-markdown-display dialogContent [MarkdownDisplayProps]="{content: ProjectDetailProps.project?.description}"></home-markdown-display>
  </home-dialog-slot>

  <home-dialog-slot [DialogProps]="{id: 'project-tech-list-' + ProjectDetailProps.project?.dbname || techListUUID, title: 'Project Tech List'}">
    <home-tech-list dialogContent [TechListProps]="ProjectDetailProps.children?.techList || {}"></home-tech-list>
  </home-dialog-slot>

</div>
