<section>
  <h2>Project Case</h2>
  <p>Let's take a look at some of my awesome projects.</p>
</section>

<section>
  <div class="backdrop">
    <h3>Smart Eat-Out</h3>
  </div>
  <p>Let's take a look at some of my awesome projects.</p>
</section>

<section>
  <div class="backdrop">
    <h3>Billy CDKey</h3>
  </div>
  <p>Let's take a look at some of my awesome projects.</p>
</section>

<section>
  <div class="backdrop">
    <h3>Container-based auto std</h3>
  </div>
  <p>Let's take a look at some of my awesome projects.</p>
</section>

<section>
  <div class="backdrop">
    <h3>Voila CDN</h3>
  </div>
  <p>Let's take a look at some of my awesome projects.</p>
</section>