<section>

  <div class="r-stack">

    <div class="backdrop">
      <h2>Project Case</h2>
      <home-project-list [ProjectListProps]="ProjectCaseProps?.children?.projectList || {}"></home-project-list>
    </div>

    <div class="fragment fade-out projectIntro flexCenter" data-fragment-index="0" > 
      <p>Let's take a look at some of my awesome projects.</p>
    </div>

  </div>

  
</section>

<section>

  <home-project-detail></home-project-detail>

</section>

<section>
  <div class="backdrop">
    <h3>Billy CDKey</h3>
  </div>
  <p>Let's take a look at some of my awesome projects.</p>
</section>

<section>
  <div class="backdrop">
    <h3>Container-based auto std</h3>
  </div>
  <p>Let's take a look at some of my awesome projects.</p>
</section>

<section>
  <div class="backdrop">
    <h3>Voila CDN</h3>
  </div>
  <p>Let's take a look at some of my awesome projects.</p>
</section>