<div>
  <!-- use a div wrapper to hack as a slide background -->
  <section GameWallComponent></section>  <!-- This is an ng component!! -->
</div>

<section>
  <h2>Welcome to wcnexus!</h2>

  <p>This is my site</p>
  <p>This will be another paragraph</p>
</section>

<section>
  <p>
    Located at basement, This will be another very very long paragraph. 
    Located at basement, This will be another very very long paragraph. 
    Located at basement, This will be another very very long paragraph. 
    Located at basement, This will be another very very long paragraph. 
  </p>
</section>

