<section>
  <h2>About wcnexus.com</h2>
  <p>5 years of development, with new stuff coming in (almost) each year</p>
</section>

<section>

  <div class="r-stack">

    <!-- To make the 1st fragment appear at start:  -->
    <!-- Set a same number of data-fragment-index="1" for the first 2 fragments -->
    <!-- Add a "fade-out" class for 1st fragment, "current-visible" class for all other fragments -->
    <div class="fragment fade-out" data-fragment-index="1" > 
      <p>WCNexus started being developed back in 2016, and almost every year, it was implemented with more beautiful page layouts and built with newer technologies.</p>
    </div>
    <div class="fragment current-visible" data-fragment-index="1">
      <p>
        The online version is v4, which was developed in 2021. The backend is powered by .Net 5, while the front-end is based on Angular 11. 
      </p>
    </div>
    <div class="fragment current-visible"  data-fragment-index="2">
      <p>
        The website is hosted on a VPS, and has been deployed via docker and is served with HTTPS enabled since v3. I know it seems nothing fancy nowadays, but hey, it was the first time that I've managed to figure all these things out myself!
      </p>
    </div>

  </div>

</section>

<section>
  Techs
</section>