<section class="HomeView">
  <!-- All modals go here, because they have to be put at the very top -->
  <home-dialog-slot [DialogProps]="textDialogProps">
    <!-- <home-text-display dialogContent [TextDisplayProps]="textDisplayTestContent"></home-text-display> -->
    <home-markdown-display dialogContent [MarkdownDisplayProps]="markdownDisplayProps"></home-markdown-display>
  </home-dialog-slot>

  <aside>
    <ul>
      <li>
        <button class="toc" title="Table of Contents" (click)="navigateTo(2)">
          <i class="iconfont icon-catalog"></i>
        </button>
      </li>
      <li>
        <a href="https://github.com/valorad/wcnexus.com" target="_blank" rel="noopener noreferrer">
          <i class="iconfont icon-github"></i>
        </a>
      </li>
    </ul>
  </aside>

  <div class="reveal">
    <div class="slides">

      <section
        SlideCoverComponent
        data-transition="slide-in fade-out"
        data-background-video="statics/videos/earth-cover.mp4"
        data-background-video-loop
        data-background-video-muted
        data-background-opacity="0.9"
        data-name="cover"
      ></section>  <!-- This is an ng component!! -->

      <section
        WelcomeComponent
        data-transition="fade-in fade-out"
        data-background-color="#262626"
        data-name="welcome"
      ></section>  <!-- This is an ng component!! -->

      <section
        CatalogComponent
        data-transition="zoom-in zoom-out"
      ></section>  <!-- This is an ng component!! -->

      <section
        AboutMeComponent
        [AboutMeProps]="aboutMeProps"
        data-name="about-me"
      ></section>  <!-- This is an ng component!! -->

      <section
        AboutSiteComponent
        data-name="about-wcn"
      ></section>  <!-- This is an ng component!! -->

      <section
        ProjectCaseComponent
        data-name="project-case"
      ></section>  <!-- This is an ng component!! -->

      <section
        ThankYouComponent
        data-name="thank-you"
        [ThankYouProps]="thankYouProps"
      ></section>  <!-- This is an ng component!! -->

      <section>
        <section>
          <h1>Vertical 1 not sure what to do</h1>
          <span (click)="onNumpadClicked($event)">Number: {{ num }}</span>
          <button (click)="onToggleIMGClicked($event)">Toggle img</button>
          <button (click)="onLiuPPTClicked($event)">Toggle LiuPPT</button>
          <div *ngIf="isIMGShown">
            <img src="assets/images/test.png" alt="test.png">
          </div>
        </section>
        <section *ngIf="isLiuPPTShown">
          <h1>This is a liu ppt</h1>
        </section>
        <section>
          <h1>Vertical 2 good enough?</h1>
        </section>
      </section>
      <section data-markdown>
        <textarea data-template>
          ```js [1-2|3|4]
          console.log("Test code syntax high-lightings")
          let a = 1;
          let b = 2;
          let c = x => 1 + 2 + x;
          c(3);
          ```
        </textarea>
      </section>

    </div>
  </div>

</section>