<section class="HomeView">
  <div class="reveal">
    <div class="slides">
      <section>
        <h1>Welcome to wcnexus</h1>
        <h2>Of course we will write some css later</h2>
      </section>
      <section>
        <section>
          <h1>Vertical 1 not sure what to do</h1>
        </section>
        <section>
          <h1>Vertical 2 good enough?</h1>
        </section>
      </section>
      <section data-markdown>
        <textarea data-template>
          ```js [1-2|3|4]
          console.log("Test code syntax high-lightings")
          let a = 1;
          let b = 2;
          let c = x => 1 + 2 + x;
          c(3);
          ```
        </textarea>
      </section>
    </div>
  </div>

</section>