<section class="HomeView">
  <div class="reveal">
    <div class="slides">

      <section
        SlideCoverComponent
        data-background-video="assets/videos/cover.mp4"
        data-background-video-loop
        data-background-video-muted
        data-background-opacity="0.9"
      ></section>  <!-- This is an ng component!! -->

      <section
        WelcomeComponent
        data-transition="slide-in fade-out"
        data-background-color="#262626"
      ></section>  <!-- This is an ng component!! -->

      <section
        GameWallComponent
        data-transition="fade-in slide-out"
        data-background-color="#262626"
      ></section>  <!-- This is an ng component!! -->

      <section
        AboutMeComponent
      ></section>  <!-- This is an ng component!! -->

      <section
        AboutSiteComponent
      ></section>  <!-- This is an ng component!! -->

      <section
        ProjectCaseComponent
      ></section>  <!-- This is an ng component!! -->

      <section
        ThankYouComponent
      ></section>  <!-- This is an ng component!! -->

      <section>
        <section>
          <h1>Vertical 1 not sure what to do</h1>
          <span (click)="onNumpadClicked($event)">Number: {{ num }}</span>
          <button (click)="onToggleIMGClicked($event)">Toggle img</button>
          <button (click)="onLiuPPTClicked($event)">Toggle LiuPPT</button>
          <div *ngIf="isIMGShown">
            <img src="assets/images/test.png" alt="test.png">
          </div>
        </section>
        <section *ngIf="isLiuPPTShown">
          <h1>This is a liu ppt</h1>
        </section>
        <section>
          <h1>Vertical 2 good enough?</h1>
        </section>
      </section>
      <section data-markdown>
        <textarea data-template>
          ```js [1-2|3|4]
          console.log("Test code syntax high-lightings")
          let a = 1;
          let b = 2;
          let c = x => 1 + 2 + x;
          c(3);
          ```
        </textarea>
      </section>
    </div>
  </div>

</section>