@import "src/theme";

.instanceCard {
  position: relative;
  cursor: pointer;
}

picture {
  width: 5em;
  height: 5em;
  border: 0.1rem solid $primary;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 100%;
  margin: 0;
}

.nameBox {
  font-size: 0.5em;
  position: absolute;
  bottom: 0.3em;
  width: 100%;
}