<section>

  <div class="r-stack">

    <div class="backdrop">
      
      <div class="titleBar">
        <h2>About me</h2>
        twitter weibo zhihu github linkedin
      </div>
      <home-xmj-list [XMJListProps]="AboutMeProps?.children?.xmjList || {}"></home-xmj-list>
    </div>

    <!-- To make the 1st fragment NOT appear at start:  -->
    <!-- Add a "current-visible" class for 1st fragment -->
    <div class="fragment current-visible" data-fragment-index="20">
      <h2>tl;dr</h2>
      <ul>
        <li>Master’s student in Computer Engineering.</li>
        <li>Developer, front-end guy, gamer, modder, creative guy... You name it.</li>
        <li>Currently Looking for a new family: front-end / full-stack developer.</li>
      </ul>
    </div>
    <div class="fragment current-visible" data-fragment-index="21">
      <p>My favorite games are single-player RPGs e.g. The Elder Scrolls, Assassin's Creed, Mass Effect</p>
    </div>

    <div class="fragment current-visible"  data-fragment-index="22">
      <p>My favorite pet is cat!(😸, 🙀, and 😹)</p>
    </div>

    <div class="fragment current-visible"  data-fragment-index="23">
      <p>Dream of working in the video game industry in the future.</p>
    </div>

    <div class="fragment current-visible"  data-fragment-index="24">
      <p>Have experience in Front-end Development: Angular, Vue, React, etc.</p>
    </div>

    <div class="fragment current-visible"  data-fragment-index="25">
      <p>Familiar with server development: node.js, .Net Core</p>
    </div>

    <div class="fragment current-visible"  data-fragment-index="26">
      <p>Knows how to deploy micro-services: Kubernetes, Docker</p>
    </div>

    <div class="fragment current-visible"  data-fragment-index="27">
      <p>
        Currently Looking for a new family: front-end / full-stack developer​
      </p>
    </div>

  </div>


</section>